/* Write your code here. */
.bg-container {
  background-color: #ffffff;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.main-image {
  margin-top: 30px;
  flex-wrap: wrap;
  width: 800px;
}

.title {
  font-family: 'Roboto';
  font-size: 18px;
}
.description {
  font-family: 'Roboto';
  font-size: 10px;
}

.thumbnail-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

@media screen and (max-width: 576px) {
  .main-image {
    margin-top: 30px;
    width: 200px;
  }
  .thumbnail-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .container {
    align-items: center;
  }
  .bg-container {
    background-color: #ffffff;
    height: 100vh;
    display: flex;
    justify-content: column;
    align-items: center;
    align-self: center;
    text-align: center;
    flex-direction: column;
  }
}
